header {
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    height: 69vh;

    @media (min-width: 75em) {
        height: 55vw;
        background-image: url(../images/desktop/image-header.jpg);
    }

    nav {
        position: relative;
        padding: 1.75rem $p-m;

        @media (min-width: 75em) {
            padding: 2rem 2.5rem;
        }

        .logo {
            text-decoration: none;
        }

        .hamburgermenu {
            @media (min-width: 75em) {
                display: none;
            }
        }

        .menu {
            display: none;
            margin: 0;
            padding: 0;
            list-style: none;

            @media (min-width: 75em) {
                display: inline-flex;
                align-items: center;
                gap: 2.9rem;
                color: $white;

                .active {
                    background: $white;
                    padding: 1.3em 2em;
                    font-size: 0.93rem;
                    font-family: $fraunces;
                    color: $darkBlue;
                    text-transform: uppercase;
                    border-radius: 3rem;

                    transition: background 200ms ease-in-out;

                    &:hover {
                        background: rgba(111, 207, 255, 1); 
                        color: $white;
                    }
                }
            }
        }

        .open { // click on hamburger menu
            display: block;
            position: absolute;
            right: 4px;
            top: 6.68rem;
            max-width: 20rem;
            width: 86%;
            margin-inline: 1.5rem;
            padding-block: 2.5rem;
            background: $white;
            color: $veryDarkGrayBlue;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: -1.58rem;
                border-top: 13px solid transparent;
                border-right: 13px solid $white;
                border-bottom: 13px solid $white;
                border-left: 13px solid transparent;
            }

            li {
                padding-bottom: 2.5rem;
            }

            .active {
                display: inline-block;
                background: $yellow;
                padding: 1.3em 2em;
                font-size: 0.93rem;
                font-family: $fraunces;
                color: $darkBlue;
                text-transform: uppercase;
                border-radius: 3rem;
            }
        }
    }
    .header-container {
        
        h1 {
            margin-top: 4rem;
            margin-bottom: 3rem;
            text-align: center;
            color: $white;
            font-size: 2.3rem;
            letter-spacing: 6px;
            text-transform: uppercase;

            @media (min-width: 75em) {
                font-size: 3rem;
            }
        }
    }
}