// colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(167, 44%, 70%);
$darkdesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayBlue: hsl(213, 9%, 39%);
$darkGrayBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// font-size
$font-m: 1.125rem; // 18px

// font-family
$barlow: 'Barlow', sans-serif;
$fraunces: 'Fraunces', serif;

// paddings
$p-m: 1.6875rem;